html,
body {
  height: 100%;
  width: 100%;
}

.parent {
  width: 100%;
  background-color: #111;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  height: 280px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
}

.top button {
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #d1d1d1;
}

.center {
}

.center h3 {
  font-size: 17px;
  font-weight: 500;
}

.center h3 span {
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
}

.center h2 {
  font-size: 20px;
}

.center .tag {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.center .tag h4 {
  font-size: 14px;
  background-color: #dadada;
  color: #111;
  padding: 3px 6px;
  font-weight: 400;
  border-radius: 5px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #d1d1d1;
  padding-top: 15px;
}

.bottom button {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.bottom h3 {
  font-size: 18px;
}

.bottom p {
  font-size: 14px;
  color: #8b8b8b;
}
