.card {
  width: 200px;
  background-color: blueviolet;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.card img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.card button {
  width: 60px;
  height: 40px;
  border-radius: 10px;
}
